<script src="~/assets/js/controllers/TestController.js"></script>

<section id="contact" ng-controller="mycntlr">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cotact-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-area-right">

                                <div class="row">

                                    <table class="table table-bordered table-striped col-lg-12"
                                           enable-filtering="false"
                                           tr-ng-grid=""
                                           items="testdata"
                                           page-items="NoRowsVM"
                                           total-items="TotalRowCount"
                                           filter-by=""
                                           current-page="CurrentPageVm"
                                           order-by="IDVm" 
                                           order-by-reverse="true"
                                           on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
                                   
                                        @*<table class="table table-bordered table-striped col-lg-12"
                                            tr-ng-grid=""
                                            items="testdata"
                                             on-data-required="GetDetails()">*@
                                             

                                        <thead>
                                            <tr>
                                                <th display-name="ID" field-name="IDVm" enable-filtering="false" enable-sorting="false"></th>
                                                <th display-name="Name" field-name="NameVm" enable-filtering="false" enable-sorting="true">
                                                </th>
                                                <th display-name="Email" field-name="EmailVm" enable-filtering="false" enable-sorting="true">
                                                </th>
                                                <th display-name="Subject" field-name="SubjectVm" enable-filtering="false" enable-sorting="true">
                                                </th>
                                                <th display-name="Comment" field-name="CommentVm" enable-filtering="false" enable-sorting="true">
                                                </th>

                                            </tr>

                                        </thead>

                                        <tbody>
                                            <tr>

                                                <td>
                                                    <button type="button" class="comment-btn" data-toggle="modal" data-target="#gridSystemModal" ng-click="EditDetails(gri)">EDIT</button>

                                                    <button type="button" class="comment-btn" data-toggle="modal" data-target="#delete " ng-click="DeleteData(testdata)">Delete</button>


                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>




                           

                                    @*<input type="hidden" ng-model="testdata.NameVm" />*@
                                    <button type="button" class="comment-btn" data-toggle="modal" data-target="#gridSystemModal" ng-click="AddNewItem()">Add New Item</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gridSystemModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            @* role="document"*@
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="Close()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridModalLabel">View Details</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid bd-example-row">

                        <form action="" class="comments-form contact-form">
                            <div class="form-group">
                                <input type="text " id="ID" class="form-control " placeholder="ID" ng-model="ids" >
                            </div>

                            <div class="form-group">
                                <input type="text" id="NameTxt" class="form-control" placeholder="Your Name" ng-model="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" id="EmailTxt" class="form-control" placeholder="Email" ng-model="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" id="SubTxt" class="form-control" placeholder="Subject" ng-model="Subject">
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Comment" id="CommTxt" rows="3" class="form-control" ng-model="Comment"></textarea>
                            </div>
                            <input type="button" class="comment-btn" ng-click="SaveData()" value="{{ButtonText}}" />

                            <input type="button" class="comment-btn" ng-click="Reset()" value="Reset" />

                        </form>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="comment-btn" data-dismiss="modal" ng-click="Close()">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


    @*For deletete Confirmation*@
    <div class="modal fade" id="delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content col-lg-8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete the record ?&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="comment-btn" data-dismiss="modal" ng-click="ConfirmDelete()">Yes</button>
                    <button type="button" class="comment-btn">No</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</section>